@font-face {
  font-family: 'Circular';
  src: url('/../fonts/Circular-Bold.woff2') format('woff2'),
      url('/../fonts/Circular-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Book';
  src: url('/../fonts/Circular-Book.woff2') format('woff2'),
      url('/../fonts/Circular-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.headerContainer { 
  display: grid;
  height: 5.875em;
  background-color: #282828;
  width: 100vw;
  grid-template-columns: auto 52% auto;
}

.avatarBorder {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: .3em;
  border: 3px solid #fff;
  border-radius: 100%;;
  align-self: center;
  justify-self: end;
}

.homieLogo {
  height: 3.5em;
  width: auto;
  align-self: center;
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.signOut {
  align-self: center;
  justify-self: start;
  grid-column: 3 / 4;
}

p {
  padding-top: 0.2em;
  font-size: 12px;
  font-family: 'Circular Book';
  color: #fff;
}