@font-face {
  font-family: 'Circular';
  src: url('/../fonts/Circular-Bold.woff2') format('woff2'),
      url('/../fonts/Circular-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Book';
  src: url('/../fonts/Circular-Book.woff2') format('woff2'),
      url('/../fonts/Circular-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Circular' !important;
  font-size: 2em !important;
}

.signOut {
  align-self: center;
}

.homieLogo {
  height: 90px;
  width: auto;
  align-self: center;
}

p {
  line-height: 0.5em;
  font-size: 12px;
  font-family: 'Circular Book';
  color: #fff;
}

header {
  display: flex;
  height: 94px;
  background-color: #282828;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}


.background {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}

.avatarBorder {
  margin-top: 0.5em;
  padding: .3em;
  border: 3px solid #fff;
  border-radius: 100%;;
  align-self: center;
}