@font-face {
  font-family: 'Circular';
  src: url('../fonts/Circular-Bold.woff2') format('woff2'),
      url('../fonts/Circular-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Book';
  src: url('../fonts/Circular-Book.woff2') format('woff2'),
      url('../fonts/Circular-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



.loginContainer {
  display: grid;
  grid-template-rows: 4fr 3fr 1fr 4fr 3fr;
  height: 100vh;
  width: 100vw;
  background-color: #282828;
  font-family: 'Circular', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.homieLogoLogin {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 8em;
  width: auto;
  align-self: center;
  justify-self: center;
  padding: 0em;

}

.loginH1 {
  grid-row-start: 3;
  grid-row-end: 4;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  font-size: 3em;
  font-family: 'Circular', sans-serif;
  line-height: 1em;
  color: #fff;
}

.crewBlue {
  color: #3CBCD7;
}

.loginForm {
  grid-row-start: 4;
  grid-row-end: 5;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(2, 1fr)
}

.loginEmailLb {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  align-self: center;
}
.loginEmailIn {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
}
.loginPassLb {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
  align-self: center;
}
.loginPassIn {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  justify-self: center;
  align-self: center;
}

.loginLabel {
  font-size: 1.5em;
  display: inline;
  line-height: 1.75em;
  color: #3CBCD7;
}

.loginInput {
  font-size: 1em;
  width: 20rem;
  height: 1.8em;
  border-radius: 10px;
  margin-bottom: 1.5em;
  padding-left: 1em;
}

.loginInput:focus {
  outline: none;
  border: 2.5px solid #3CBCD7;
  border-radius: 10px;
  background-color: rgb(240, 253, 255);
}

.loginBtn {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  justify-self: end;
  align-self: center;
  margin-right: 1.3em;
  font-family: 'Circular', sans-serif;
  text-decoration: none;
  font-size: 0.875em;
  cursor: pointer;
  border: 1px solid #282828;
  border-radius: 12px;
  height: 2.6em;
  width: 10em;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: #282828;
  background-color: #3CBCD7;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  box-shadow:         inset 0px -1px 10px #333;
}

.loginBtn:hover {
  background-color: rgb(48, 159, 181);}

.loginBtn:active {
  background-color: rgb(43, 139, 159);
  border-color: #205260;
}

.forgotPass {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  justify-self: start;
  align-self: center;
  margin-left: 1.3em;
  color: #3CBCD7;
  font-size: 0.875em;
  font-family: 'Circular Book', sans-serif;
}

.forgotPass:hover {
  color: rgb(48, 159, 181);
}
