@font-face {
  font-family: 'Circular';
  src: url('../fonts/Circular-Bold.woff2') format('woff2'),
      url('../fonts/Circular-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Book';
  src: url('../fonts/Circular-Book.woff2') format('woff2'),
      url('../fonts/Circular-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.register {
  background-color: #ffffff;
  height: 90vh;
  width: 100vw;
}

.registerField {
  display: grid;
  grid-template-columns: 45% 45% 10%;
  grid-template-columns: auto * 6;
  margin-bottom: 0.8em;
}

form {
  font-size: 16px;
  font-family: 'Circular';
}

h3 {
  font-size: 24px;
  font-family: 'Circular';
  padding-top: 1em;
  padding-bottom: 1em;
}

form .registerField label {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: center;
  align-self: center;
}
.registerField input {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
  font-size: 16px;
  font-family: 'Circular Book';
  padding-left: 1em;
  height: 37px;
  width: 174px;
  border-radius: 10px;
  border: 1.5px solid #868686;
}

form .registerField input:focus {
  outline: none;
  border: 2.5px solid #3CBCD7;
  border-radius: 10px;
  background-color: rgb(240, 253, 255);
}

.registerStaffBtn {
  margin-top: 0.5em;
  font-family: 'Circular Book';
  font-size: 16px;
  background-color: #282828;
  color: #3CBCD7;
  width: 125px;
  height: 36px;
  border: 3px solid #3CBCD7;
  border-radius: 10px;
}