@font-face {
  font-family: 'Circular';
  src: url('../fonts/Circular-Bold.woff2') format('woff2'),
      url('../fonts/Circular-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Book';
  src: url('../fonts/Circular-Book.woff2') format('woff2'),
      url('../fonts/Circular-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.dayContainer {
  width: 22.75em;
  height: 4.375em;
  display: grid;
  grid-template-columns: 3.25em 4.25em 15.75em;
  grid-auto-rows: auto;
}

.addStaffBtn {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: start;
  height: 4.375em;
  display: grid;
  grid-template-columns: 1fr .7fr;
  background-color: #3CBCD7;
  border-radius: 10px;
  width: 4.625em;
  margin-right: -2em;
  border: 1px solid #000;
}

.addUserIcon {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
  justify-self: center;
  margin-left: .4em;
}

.dateContainer {
  height: 4.375em;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: start;
  background-color: #282828;
  width: 4.25em;
  border-radius: 10px 0 0px 10px;
  border: 1px solid #000;
  border-right: none;
  z-index: 1;
}

.dateContainer p {
  line-height: 1em;
  font-size: 16px;
  font-family: 'Circular';
  color: #fff; 
}

.rostDayName {
  padding-top: .3em;
}
/* .rostDayNum {

} */
.rostMonth {
  padding-bottom: .3em;
}

.staffContainer {
  height: 4.375em;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.375em;
  background-color: #fff;
  width: 15.75em;
  border-radius: 0 10px 10px 0;
  border: 1px solid #000;
  z-index: 2;
}

.staffContainer p {
  font-family: 'Circular Book';
  margin-bottom: 0.4em;
  font-size: 16px;
  color: #000;
}
